---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Screenshots from '../components/Screenshots.astro';
import Features from '../components/Features.astro';
import Techniques from '../components/Techniques.astro';
import Research from '../components/Research.astro';
import FallbackCommunity from '../components/FallbackCommunity.astro';
import Install from '../components/Install.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<Hero videoId="0X0Q5NbwcKg" />
	<main class="space-y-16">
		<HowItWorks />
		<Screenshots />
		<Features />
		<Techniques />
		<Research />
		<FallbackCommunity />
		<Install />
	</main>
	<Footer />
</Layout>
